.img-container, .btn-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    flex: 4;
    height: 100vh;
}

.text-container {
    flex: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 50px;

    font-family: "Times New Roman", Times, serif;
    font-size: x-large;
}

.img-container img {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    animation: slideInFromTop 1s forwards; /* Animation duration and timing */
}

@keyframes slideInFromTop {
    from {
        height: 0; /* Start with height 0 */
    }
    to {
        height: 100%; /* End with full height */
    }
}

button {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: larger;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    
}

.overall-container {
    display: flex;
}

